* {
  margin: 0;
  box-sizing: border-box;
}

/* Styling Starts here */
body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(images/rikonavt-oEWdQsbRVZk-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  /* opacity: 75%; */
}
body {
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  /* border: 2px solid wheat; */
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: rgb(248, 64, 95);
}
.btn {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  border-radius: 0.7rem;
  border: none;
  box-shadow: 0.2rem 0.2rem rgb(0, 0, 0, 50%);
  font-size: 1.5rem;
  background-color: #9938fc;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  text-shadow: 0.1rem 0.1rem rgb(0, 0, 0, 50%);
}
.heading{
    text-align: center;
    width: 12rem;
}
.btn:hover {
  background: rgb(241, 8, 121);
}
.btn-box {
  margin-top: 0.7rem;
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Responsive */
@media (max-width: 500px) {
  .time {
    font-size: 4rem;
  }
  .btn {
    font-size: 1.2rem;
  }
}
@media (max-width: 405px) {
  .time {
    font-size: 3rem;
  }
  .btn {
    font-size: 1.1rem;
  }
}
@media (max-width: 305px) {
  .time {
    font-size: 2.5rem;
  }
  .btn {
    font-size: 0.9rem;
  }
  .btn-box {
    width: 12rem;
  }
}
@media (max-width: 254px) {
  .btn {
    margin: 0.5rem;
    width: 6rem;
  }
  .btn-box{
    flex-direction: column;
  }
}
@media (max-width: 205px) {
    .time {
        font-size: 1.5rem;
      }
      html, body{
        overflow: hidden;
      }
}
